<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}}</title>
</head>
<body >
<h1>{{.Title}}</h1>
<form action="/burgers/save" method="POST" >
    <input type="hidden" name="action" value="save" >
    <input type="text" name="name" placeholder="Название продукта">
    <input type="number" name="price" placeholder="Цена">
    <textarea name="description" placeholder="Описание" cols="30" maxlength = "100" rows = "2" style="height: 30px"></textarea>
    <button>Ok</button>
</form>
<ul style="color: #140304">
    {{range $index, $val := .Burgers}}
        <li>
            {{$val.Name}} {{$val.Price}}
            <form action="/burgers/remove" method="POST">
                <input type="hidden" name="action" value="remove">
                <input type="hidden" name="id" value="{{$val.Id}}">
                <button>Remove</button>
            </form>
        </li>
    {{end}}
</ul>
</body>
</html>
